/* 
	Theme Colors
	Main Color: #265CAB;
*/
@import "../fonts/Ubuntu/styles.css";

html, body, h1, h2, h3, h4, h5, h6,
p, div, span, button, input, article,
header, footer, a {
    font-family: Ubuntu, Tahoma, Verdana, sans-serif;
}

html {
    background-color: #152952;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.btn.btn-xlg {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
}

#bs-navbar {
    background: #152952;
}
.navbar {
    background: #152952;
    margin: 0;
}
.nav.navbar-nav li a {
    color: #eee;
}
.nav.navbar-nav li a:hover, .nav.navbar-nav li a:focus {
    background-color: #234487;
}
.navbar-brand {
    color: #ffcc00;
    padding: 20px 15px;
}
.navbar-brand:hover {
    color: #fffd00;
}
.navbar-brand>img {
    margin-top: -11px;
}
a {
	color: #265CAB;
}
.navbar-header {
    height: 64px;
}
.navbar-header .icon-bar {
	background-color: #265CAB;
}
.navbar-title-search {
	background: #234487;
	color: #eee;
	padding-top: 60px;
	padding-bottom: 60px;
}
.navbar-title-search h3 {
	color: #92AED5;
    margin-top: 30px;
}
.navbar-logo {
    width: 48px;
    height: 48px;
}
.navbar-nav > li > a {
    padding-top: 22px;
    padding-bottom: 22px;
}

.container.content-container {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}
.feed-thumbnail-lg,
.feed-thumbnail {
    background: no-repeat center center;
    background-size: cover;
    border: 5px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px #666;
    display: inline-block;
    float: left;
    margin: 0 15px 0 0;
}
.feed-thumbnail-lg {
    width: 140px;
    height: 140px;
}
.feed-thumbnail {
    width: 80px;
    height: 80px;
}

.feed-link {
    color: #222;
    display: block;
}
.feed-link:hover {
    color: #000;
    text-decoration: none;
}
.feed-link:hover .feed-thumbnail-lg,
.feed-link:hover .feed-thumbnail {
    opacity: 0.75;
}
.vertical-spacing {
    margin-top: 15px;
}
.vertical-spacing-bi {
    margin: 15px 0;
}
.main-footer {
    background: #152952;
    padding: 60px 0 60px;
}
.main-footer .text-muted,
.medical-question .text-muted {
    color: #aaa;
}
.main-footer p,
.main-footer ul {
    text-align: center;
}
.main-footer a {
    color: #fff;
}
.login-form {
    background: #eee;
    border: 1px solid #bbb;
    border-bottom: 4px solid #bbb;
    border-radius: 3px 3px 9px 9px;
    margin: 10px 0;
    padding: 15px;
}
.medical-question {
    background: #234487;
    padding: 30px 0;
    margin: 30px 0 0;
    color: #eee;
}

.step-viewer .sv-li {
    width: 90px;
    height: 120px;
}

.step-viewer .sv-li .sv-num {
    background: transparent;
    color: #2775c8;
    border: 5px solid #2775c8;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    padding: 7px 0;
    font-size: 38px;
    text-align: center;
}
.step-viewer .sv-li.active .sv-num {
    background: rgba(39, 117, 200, 0.5);
    color: #fff;
}
.step-viewer .sv-li.success .sv-num {
    background: #2775c8;
    border: 5px solid #2775c8;
    color: #fff;
}
.step-viewer .sv-li .sv-label {
    color: #999;
    font-weight: bold;
    text-align: center;
}
.step-viewer .sv-li.active .sv-label {
    color: #2775c8;
}
.step-viewer .sv-li.success .sv-label {
    color: #2775c8;
}

@media(max-width: 768px) {
    .step-viewer .sv-li {
        width: 60px;
        height: 90px;
    }
    .step-viewer .sv-li .sv-num {
        border: 3px solid #999;
        font-size: 28px;
        padding: 2px 0;
    }
}

.calpage,
.calpage .month,
.calpage .date,
.calpage .time,
.calpage .year {
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.calpage {
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}
.calpage:hover,
.calpage.selected {
    /*border: 1px solid #bbb;*/
    -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, 0.9);
    -moz-box-shadow: 0 0 8px rgba(102, 175, 233, 0.9);
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.9);
}

.calpage .month {
    background: #2775c8;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    padding: 15px 0;
    text-align: center;
}

.calpage .date {
    font-size: 72px;
    text-align: center;
}

.calpage .time {
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 18px;
}

.calpage .year {
    border-top: 1px solid #ddd;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}

.calpage.selected .cal-selected {
    background: url(../img/tick.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 57px;
    height: 80px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.carousel-inner > .item > img {
    width: 100%;
    min-width: 500px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.25);
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    padding-bottom: 60px !important;
}

#quick-links {
    background: #2775c8;
    padding: 5px 0;
    margin: 0;
}
.quick-link > a {
    display: inline-block;
    text-align: center;
    padding: 8px 0;
    width: 100%;
    height: 100%;
}
.quick-link > a:hover {
    text-decoration: none;
    opacity: 0.9;
}
.quick-link:nth-child(2n) {
    background: #fff;
}
.quick-link:nth-child(2n+1) {
    background: #2775c8;
}
.quick-link:nth-child(2n) > a {
    background: #2775c8;
    color: #fff;
}
.quick-link:nth-child(2n+1) > a{
    background: #fff;
    color: #2775c8;
}
.quick-link > a > h3 {
    height: 1.25em;
    max-height: 1.25em;
}
.quick-link > a > p {
    height: 2.5em;
    max-height: 2.5em;
    padding: 0 15px;
}

#map-canvas {
    width: 100%;
    max-width: 100%;
    height: 400px;
}

.min-width-cell {
    width: 1%;
    white-space: nowrap;
}

#dr-hp-h-img {
    background-size: cover;
    background-position: center center;
    min-height: 350px;
    vertical-align: middle;
}

#dr-hp-h-img h1,
#dr-hp-h-img h2,
#dr-hp-h-img p {
    color: #666;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 1px 1px #000, 0 0 5px rgba(0, 0, 0, 0.3);
}

.table-display {
    display: table;
    width: 100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.doc-navbar {
    background: #2775c8;
}

.glyphicon.p-starter {
    font-size: 54px;
    float: left;
    margin: 0 10px 0 0;
}

.navbar-static-top {
    border: 0 none;
}

.noborder {
    border: 0 none;
}

.transparent {
    background: transparent;
}

hr {
    border-top-color: #dddddd;
}

div.main-search-container {

}
div.hidden-search {
    display: none;
}
#show-find-doctor {
    color: #fc0;
}
div.main-search-container.simple-search {
    width: 60%;
    margin: auto;
}
div.main-search-container label {
    font-weight: normal;
}

div.main-search-container form div.main-searchbox-wrapper {
    border: 1px solid #5cb85c;
    height: 40px;
    overflow: hidden;
    padding: 0;
}

div.main-search-container form>div.main-searchbox-wrapper>a#btn-adv-search span {
    font-size: 34px;
    line-height: 38px;
}
div.main-search-container form>div.main-searchbox-wrapper>a#btn-adv-search {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 30px;
    text-align: center;
    float: left;
}
div.main-search-container form>div.main-searchbox-wrapper>div.input-wrapper {
    height: 40px;
    font-size: 20px;
    margin: 0 100px 0 50px;
}
div.main-search-container form>div.main-searchbox-wrapper.advanced-search>div.input-wrapper {
    margin: 0 100px 0 10px;
}
div.main-search-container form>div.main-searchbox-wrapper>div.input-wrapper>input {
    width: 100%;
    height: 100%;
}
div.main-search-container form>div.main-searchbox-wrapper>button {
    border: 0 none;
    height: 40px;
    width: 80px;
    float: right;
}

div.main-search-container form div.main-searchbox-wrapper input:focus {
    outline: none;
}

.form-control-focus {
    border-color: #5cb85c;
    outline: 0;
    box-shadow: 0 0 8px 3px #5cb85c;
}
.main-search-container h1 {
    text-align: center;
    color: #eee;
}

.inline-form-control {
    width: auto;
    display: inline-block;
}

.date-wrapper {
    display: inline;
}
.date-wrapper input {
    width: 50px;
    text-align: center;
    color: #234487;
    font-weight: bold;
}
.text-error {
    color: #900;
}

#doctor-picker>input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#doctor-picker>label {
    color: #2b669a;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
}
#doctor-picker>div {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 10px 0;
    margin-top: -40px;
    position: relative;
    z-index: 1;
    display: none;
}
#doctor-picker>div>p {
    background: #fff;
    color: #222;
    margin: 1px 0;
    padding: 7px;
    cursor: pointer;
    font-weight: bold;
}
#doctor-picker>div>p:hover {
    background: #2785c6;
    color: #fff;
}
.vert-sep {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(0, 0, 0, 0.20);
    height: 64px;
}
.always-ltr {
    direction: ltr !important;
    text-align: left !important;
    display: inline;
}

#doctor-picker { margin-bottom: 15px; }

.med-q {
    background: #fcfcfc;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 10px 0;
    padding: 10px;
}

.sm-number-field {
    width: 50px;
}
.plain-combo {
    background: transparent;
    border: 0 none;
}
.carousel-indicators { padding: 0; }
.disabled-form-group { position: relative; }
.disabled-form-group-overlay {
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}