/* 
	Theme Colors
	Main Color: #265CAB;
*/
@import "../fonts/nazanin/stylesheet.css";

html, body, h1, h2, h3, h4, h5, h6,
p, div, span, button, input, article,
header, footer, a {
    font-family: Nazanin, Tahoma, sans-serif;
}

html {
    background-color: #f9f9f9;
}
body {
    font-size: 18px;
}
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.btn.btn-xlg {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
}

#bs-navbar {
    background: transparent;
}

.navbar {
    background: transparent;
    margin: 0;
}
#main-navbar-wrapper {
    background: #f9f9f9;
    border-bottom: 1px solid #eee;
}
.nav.navbar-nav li a {
    color: #222;
    cursor: pointer !important;
}
.nav.navbar-nav li .dropdown-menu a {
    color: #222;
    border: 0 none;
    cursor: pointer !important;
}

.nav.navbar-nav li a:hover, .nav.navbar-nav li a:focus {
    background: #098ddf;
}
#bs-navbar .nav.navbar-nav li a {
    border-bottom: 6px solid rgba(1, 1, 1, 0.001);
}
#bs-navbar .nav.navbar-nav li a:hover, .nav.navbar-nav li a:focus {
    background: transparent;
    border-bottom: 6px solid #2775C8;
    color: #2775C8;
}
.nav.navbar-nav li .dropdown-menu a {
    border: 0 none !important;
}
.nav.navbar-nav li .dropdown-menu a:hover {
    border: 0 none !important;
}


.navbar-brand {
    color: #9f7900;
    padding: 20px 15px;
}
.navbar-brand:hover {
    color: #fffd00;
}
.navbar-brand>img {
    margin-top: -11px;
}
a {
	color: #265CAB;
}
.navbar-header {
    height: 64px;
}
.navbar-header .icon-bar {
	background-color: #265CAB;
}
.navbar-title-search {
	background: #234487;
	color: #eee;
	padding-top: 60px;
	padding-bottom: 60px;
}
.navbar-title-search h3 {
	color: #92AED5;
    margin-top: 30px;
}
.navbar-logo {
    width: 48px;
    height: 48px;
}
.navbar-nav > li > a {
    padding-top: 22px;
    padding-bottom: 22px;
}

.container.content-container {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}
.feed-thumbnail-lg,
.feed-thumbnail {
    background: no-repeat center center;
    background-size: cover;
    border: 5px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px #666;
    display: inline-block;
    float: left;
    margin: 0 15px 0 0;
}
.feed-thumbnail-lg {
    width: 140px;
    height: 140px;
}
.feed-thumbnail {
    width: 80px;
    height: 80px;
}

.feed-link {
    color: #222;
    display: block;
}
.feed-link:hover {
    color: #000;
    text-decoration: none;
}
.feed-link:hover .feed-thumbnail-lg,
.feed-link:hover .feed-thumbnail {
    opacity: 0.75;
}
.vertical-spacing {
    margin-top: 15px;
}
.vertical-spacing-bi {
    margin: 15px 0;
}
.main-footer {
    background: #f9f9f9;
    border-top: 1px solid #f0f0f0;
    padding: 60px 0 60px;
}
.main-footer p,
.main-footer ul {
    text-align: center;
}
.login-form {
    background: #eee;
    border: 1px solid #bbb;
    border-bottom: 4px solid #bbb;
    border-radius: 3px 3px 9px 9px;
    margin: 10px 0;
    padding: 15px;
}
.medical-question {
    padding: 30px 0;
    margin: 0;
}
.medical-question textarea {
    height: 133px;
}
.step-viewer .sv-li {
    width: 90px;
    height: 120px;
}

.step-viewer .sv-li .sv-num {
    background: transparent;
    color: #2775c8;
    border: 5px solid #2775c8;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    padding: 7px 0;
    font-size: 38px;
    text-align: center;
}
.step-viewer .sv-li.active .sv-num {
    background: rgba(39, 117, 200, 0.5);
    color: #fff;
}
.step-viewer .sv-li.success .sv-num {
    background: #2775c8;
    border: 5px solid #2775c8;
    color: #fff;
}
.step-viewer .sv-li .sv-label {
    color: #999;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    line-break: strict;
}
.step-viewer .sv-li.active .sv-label {
    color: #2775c8;
}
.step-viewer .sv-li.success .sv-label {
    color: #2775c8;
}

@media(max-width: 768px) {
    .step-viewer .sv-li {
        width: 60px;
        height: 90px;
    }
    .step-viewer .sv-li .sv-num {
        border: 3px solid #999;
        font-size: 28px;
        padding: 2px 0;
    }
}

.calpage,
.calpage .month,
.calpage .date,
.calpage .time,
.calpage .year {
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.calpage {
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}
.calpage:hover,
.calpage.selected {
    /*border: 1px solid #bbb;*/
    -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, 0.9);
    -moz-box-shadow: 0 0 8px rgba(102, 175, 233, 0.9);
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.9);
}

.calpage .month {
    background: #2775c8;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    padding: 15px 0;
    text-align: center;
}

.calpage .date {
    font-size: 72px;
    text-align: center;
}

.calpage .time {
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 18px;
}

.calpage .year {
    border-top: 1px solid #ddd;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}

.calpage.selected .cal-selected {
    background: url(../img/tick.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 57px;
    height: 80px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.carousel-inner > .item > img {
    width: 100%;
    min-width: 500px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.25);
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    padding-bottom: 60px !important;
}

#quick-links {
    background: #2775c8;
    padding: 5px 0;
    margin: 0;
}
.quick-link > a {
    display: inline-block;
    text-align: center;
    padding: 8px 0;
    width: 100%;
    height: 100%;
}
.quick-link > a:hover {
    text-decoration: none;
    opacity: 0.9;
}
.quick-link:nth-child(2n) {
    background: #fff;
}
.quick-link:nth-child(2n+1) {
    background: #2775c8;
}
.quick-link:nth-child(2n) > a {
    background: #2775c8;
    color: #fff;
}
.quick-link:nth-child(2n+1) > a{
    background: #fff;
    color: #2775c8;
}
.quick-link > a > h3 {
    height: 1.25em;
    max-height: 1.25em;
}
.quick-link > a > p {
    height: 2.5em;
    max-height: 2.5em;
    padding: 0 15px;
}

#map-canvas {
    width: 100%;
    max-width: 100%;
    height: 400px;
}
.small-map-canvas { height: 250px !important; }

.min-width-cell {
    width: 1%;
    white-space: nowrap;
}

#dr-hp-h-img {
    background-size: cover;
    background-position: center center;
    min-height: 350px;
    vertical-align: middle;
}

#dr-hp-h-img h1,
#dr-hp-h-img h2,
#dr-hp-h-img p {
    color: #666;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 1px 1px #000, 0 0 5px rgba(0, 0, 0, 0.3);
    position: relative;
}

.table-display {
    display: table;
    width: 100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.doc-navbar,
.admin-navbar {
    background: #2775c8;
}

.glyphicon.p-starter {
    font-size: 54px;
    float: left;
    margin: 0 10px 0 0;
}

.navbar-static-top {
    border: 0 none;
}

.noborder {
    border: 0 none;
}

.transparent {
    background: transparent;
}

hr {
    border-top-color: #dddddd;
}

div.hidden-search {
    display: none;
}
#show-find-doctor {
    color: #9f7900;
    font-weight: bold;
}
div.main-search-container label {
    font-weight: normal;
}

div.main-search-container form div.main-searchbox-wrapper {
    border: 1px solid #2775C8;
    height: 60px;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 0 1px 7px rgba(0,0,0,0.075);
    border-radius: 0 !important;
}
div.main-search-container form>div.main-searchbox-wrapper>a#btn-adv-search span {
    font-size: 34px;
    line-height: 38px;
}
div.main-search-container form>div.main-searchbox-wrapper>a#btn-adv-search {
    cursor: pointer;
    display: block;
    width: 50px;
    height: 30px;
    text-align: center;
    float: left;
}
div.main-search-container form>div.main-searchbox-wrapper>div.input-wrapper {
    height: 60px;
    font-size: 20px;
    margin: 0 100px 0 10px;
}
div.main-search-container form>div.main-searchbox-wrapper>div.input-wrapper>input {
    width: 100%;
    height: 100%;
    font-size: 24px;
    padding: 10px;
}
div.main-search-container form>div.main-searchbox-wrapper>button {
    border: 0 none;
    height: 60px;
    width: 80px;
    float: right;
}

div.main-search-container form div.main-searchbox-wrapper input:focus {
    outline: none;
}

.form-control-focus {
    border-color: #2775C8;
    outline: 0;
    box-shadow: 0 0 12px 3px rgba(0,0,0,0.4) !important;
}
.main-search-container h1 {
    text-align: center;
    color: #eee;
}

.inline-form-control {
    width: auto;
    display: inline-block;
}

.date-wrapper {
    display: inline;
}
.date-wrapper input {
    width: 50px;
    text-align: center;
    color: #234487;
    font-weight: bold;
}
.text-error {
    color: #900;
}

#doctor-picker {
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
}
#doctor-picker>input[type="text"] {
    border: 0 none;
    width: 50%;
    float: right;
}
#doctor-picker>input[type="text"]:focus {
    box-shadow: none;
}
#doctor-picker>label {
    color: #2b669a;
    border: 0 none;
    border-right: 1px solid #ddd;
    text-align: center;
    width: 50%;
    float: right;
    margin: 0;
}
#doctor-picker>div {
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 10px 0;
    margin-top: 30px;
    position: relative;
    z-index: 1;
    display: none;
}
#doctor-picker>div>p {
    background: #fff;
    color: #222;
    margin: 1px 0;
    padding: 7px;
    cursor: pointer;
    font-weight: bold;
}
#doctor-picker>div>p:hover {
    background: #2785c6;
    color: #fff;
}
.vert-sep {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(0, 0, 0, 0.20);
    height: 64px;
}
.always-ltr {
    direction: ltr !important;
    text-align: left !important;
    display: inline;
}

#doctor-picker { margin-bottom: 15px; }

.med-q {
    background: #fcfcfc;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 10px 0;
    padding: 10px;
}

.sm-number-field {
    width: 50px;
}
.plain-combo {
    background: transparent;
    border: 0 none;
}
.carousel-indicators { padding: 0; }
.disabled-form-group { position: relative; }
.disabled-form-group-overlay {
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
}

.fivestar {
    /*background: #ffffb8;*/
    /*border: 2px solid #eabc00;*/
    /*border-radius: 4px;*/
    color: #eabc00;
    padding: 0 5px;
    display: inline-block;
    font-size: 20px;
}
.fivestar>span {
    text-shadow: 0 0 1px #fff;
}
.rating {
    color: #fc0;
    text-align: center;
}

.select2slider-wrapper {
    width: 400px;
    display: inline-block;
    margin: 0 20px;
}
.select2slider {
    display: none;
}
.slider-label {
    text-align: center;
}

#dr-hp-h-img .avatar200 {
    position: absolute;
    bottom: 50px;
    right: 60px;
    z-index: 1;
}
.avatar {
    background: #fff;
    border: 5px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 3px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
}
.avatar32 {
    width: 32px;
    height: 32px;
}
.avatar128 {
    width: 128px;
    height: 128px;
}
.avatar200 {
    width: 200px;
    height: 200px;
}
.avatar>img.landscape {
    height: 100%;
    width: auto;
}
.avatar>img.portrait {
    width: 100%;
    height: auto;
}
.avatar #upload-avatar {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    transition: all 100ms ease-in-out;
}
.avatar #upload-avatar>.cprogress {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
}
.avatar:hover #upload-avatar {
    bottom: 0;
}
.avatar #upload-avatar>a {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: inline-block;
    width: 100%;
    font-size: 24px;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
}
.avatar #upload-avatar>a:hover { color: #0073ea; }
.search-result { text-align: center; display: inline-block; margin: 10px; }
.search-result>a>span { font-size: 22px; }
#jquery-fullsizable { z-index: 1001 !important; }

.admin-stat-item {
    color: rgba(0, 0, 0, 0.05);
    border: 2px solid #fff;
    border-radius: 4px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.5), 0 2px 9px 2px rgba(0, 0, 0, 0.5);
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
    display: inline-block;
    width: 196px;
    height: 164px;
    margin: 10px;
    padding: 10px;
    transition: all 100ms ease-in-out;
    position: relative;
}
.admin-stat-item:hover {
    color: rgba(0, 0, 0, 0.05);
    top: -10px;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.5), 0 12px 9px 2px rgba(0, 0, 0, 0.5);
}
.admin-stat-item>span.title {
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 10px;
}
.admin-stat-item>span.stat {
    color: #ddd;
    line-height: 130px;
    font-size: 64px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
}
.admin-stat-item>span.stat.medium {
    font-size: 44px;
}
.admin-stat-item>span.stat.small {
    font-size: 36px;
}
.admin-stat-item>span.stat.tiny {
    font-size: 24px;
}
.admin-stat-item.shade1 {
    background: #2775C8;
    background-image: linear-gradient(to bottom, #2775C8, #1F5A99);
}
.admin-stat-item.shade2 {
    background: #DF0553;
    background-image: linear-gradient(to bottom, #DF0553, #B10A46);
}
.admin-stat-item.shade3 {
    background: #EC4C05;
    background-image: linear-gradient(to bottom, #EC4C05, #BE440F);
}
.admin-stat-item.shade4 {
    background: #22D23B;
    background-image: linear-gradient(to bottom, #22D23B, #20A533);
}
.admin-stat-item.shade5 {
    background: #FED51B;
    background-image: linear-gradient(to bottom, #FED51B, #FD8909);
}
.admin-stat-item.shade6 {
    background: #D60DEA;
    background-image: linear-gradient(to bottom, #D60DEA, #9D04B7);
}
.admin-navbar { background: #fff; }
.admin-navbar .navbar-nav>li.shade1,
.admin-navbar .dropdown {
    position: relative;
}
.admin-navbar .navbar-nav>li.shade1>a:hover,
.admin-navbar .navbar-nav>li.shade2>a:hover,
.admin-navbar .navbar-nav>li.shade3>a:hover,
.admin-navbar .navbar-nav>li.shade4>a:hover,
.admin-navbar .navbar-nav>li.shade5>a:hover { background: transparent; }

.admin-navbar .navbar-nav>li.shade1>span,
.admin-navbar .navbar-nav>li.shade2>span,
.admin-navbar .navbar-nav>li.shade3>span,
.admin-navbar .navbar-nav>li.shade4>span,
.admin-navbar .navbar-nav>li.shade5>span,
.admin-navbar .dropdown.shade6>span {
    transition: height 200ms ease-in-out;
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    bottom: 0;
}

.admin-navbar .navbar-nav>li.shade1>span {
    background-image: linear-gradient(to bottom, #2775C8, #2775C8);
}
.admin-navbar .navbar-nav>li.shade2>span {
    background-image: linear-gradient(to bottom, #DF0553, #DF0553);
}
.admin-navbar .navbar-nav>li.shade3>span {
    background-image: linear-gradient(to bottom, #EC4C05, #EC4C05);
}
.admin-navbar .navbar-nav>li.shade4>span {
    background-image: linear-gradient(to bottom, #22D23B, #22D23B);
}
.admin-navbar .navbar-nav>li.shade5>span {
    background-image: linear-gradient(to bottom, #FD8909, #FD8909);
}
.admin-navbar .dropdown.shade6>span {
    background-image: linear-gradient(to bottom, #D60DEA, #D60DEA);
}

.admin-navbar .navbar-nav>li.shade1:hover>span,
.admin-navbar .navbar-nav>li.shade2:hover>span,
.admin-navbar .navbar-nav>li.shade3:hover>span,
.admin-navbar .navbar-nav>li.shade4:hover>span,
.admin-navbar .navbar-nav>li.shade5:hover>span,
.admin-navbar div.dropdown:hover>span { height: 100%; }

.admin-navbar div.dropdown { width: 100px; text-align: center; display: inline-block; }
.admin-navbar div.dropdown>button {
    background: transparent;
    border: 0 none;
    color: #222;
    padding: 22px;
    z-index: 1;
    position: relative;
}
.admin-navbar div.dropdown>button:focus { outline: 0 none; }

.btn-menuitem {
    border: 0 none;
    border-radius: 0;
    text-align: left;
    padding: 3px 20px;
}
.btn-menuitem:hover { background: #f5f5f5; }
.lg-fa { font-size: 44px !important; }
.pointer-cursor { cursor: pointer; }
.one-row-td { white-space: nowrap; text-overflow: ellipsis; }
.expandable-tr { display: none; }
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus { background-color: #2775C8; }
div.medical-question-response {
    background: #fafafa;
    border: 1px dashed #ddd;
    border-radius: 4px;
    padding: 15px;
    margin: 15px 0;
}

/******** FLOATING CHAT ***************/


.floating-chat {
    background: #234487;
    border: 1px solid #223e7c;
    border-radius: 4px 4px 0 0;
    box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.15), 0 -2px 10px 2px rgba(0, 0, 0, 0.75);

    position: fixed !important;
    bottom: 0 !important;
    /*right: 0 !important;*/
    transition: bottom 200ms ease-in-out;
    z-index: 10000;
}
.floating-chat.hidden-floating-chat {
    bottom: -360px !important;
}
.floating-chat-header {
    padding: 3px 0;
    cursor: pointer;
}
.floating-chat-header>h5>a {
    color: #fff;
    padding: 5px;
}
.floating-chat-header>h5>a:hover,
.floating-chat-header>h5>a:focus {
    text-decoration: none;
}

.chat-messages {
    background: #fff url(images/nice_snow.png);
    border: 1px solid #333;
    border-radius: 4px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.75);
    height: 300px;
    margin: 10px 0;
    overflow-y: scroll;
}
.pinned-chat .chat-messages {
    height: 400px;
}
p.message {
    display: inline-block;
    max-width: 70%;
    min-width: 30%;
    margin: 15px;
    padding: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5), 0 7px 7px rgba(0, 0, 0, 0.5);
}
p.message.message-from {
    background: #2072ff;
    border: solid 1px #205ebb;
    border-radius: 4px;
    float: left;
    color: #eee;
}
p.message.message-to {
    background: #eee;
    border: solid 1px #ccc;
    border-radius: 4px;
    color: #222;
    float: right;
}
p.message>span.sender {
    display: block;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
p.message.message-to>span.sender {
    border-bottom: 1px solid #222;
}

.chat-compose {
    margin-bottom: 10px;
}
.chat-compose button {
    width: 46px;
}
.chat-compose input[name=message] {
    width: calc(100% - 50px);
    display: inline-block;
}
#home-page-banner {
    background: #fff;
    padding: 20px;
}
.mobile-nav-item {
    background: url(../img/mobile_icon.png) no-repeat right center;
    padding: 22px 30px 22px 0!important;
}
.mobile-nav-item:hover {
    background: url(../img/mobile_icon.png) no-repeat right center !important;
}

.search-province-link {
    white-space: nowrap;
}
.homeicon {
    background: url(../img/homepage_icons.svg);
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}
.homeicon-link {
    color: #999;
    line-height: 12px;
}
.homeicon-link:hover { text-decoration: none; }
#homeicon-tabs a {
    color: #555;
}
#homeicon-tabs li.active a {
    color: #55b7e5;
}
#homeicon-tabs a span {
    color: #55b7e5;
}