/* 
	Theme Colors
	Main Color: #265CAB;
*/
@import "../fonts/Ubuntu/styles.css";

html, body, h1, h2, h3, h4, h5, h6,
p, div, span, button, input, article,
header, footer, a {
    font-family: Ubuntu, Tahoma, Verdana, sans-serif;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.btn.btn-xlg {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
}

.navbar {
    background: #152952;
}
.nav.navbar-nav li a {
    color: #eee;
}
.nav.navbar-nav li a:hover {
    background-color: #234487;
}
.navbar-brand {
    color: #ffcc00;
}
.navbar-brand:hover {
    color: #fffd00;
}
a {
	color: #265CAB;
}
.navbar-header .icon-bar {
	background-color: #265CAB;
}
.navbar-title-search {
	background: #234487;
	color: #eee;
	padding-top: 60px;
	padding-bottom: 60px;
}
.navbar-title-search h3 {
	color: #92AED5;
    margin-top: 30px;
}
.feed-thumbnail-lg,
.feed-thumbnail {
    background: no-repeat center center;
    background-size: cover;
    border: 5px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px #666;
    display: inline-block;
    float: left;
    margin: 0 15px 0 0;
}
.feed-thumbnail-lg {
    width: 140px;
    height: 140px;
}
.feed-thumbnail {
    width: 80px;
    height: 80px;
}

.feed-link {
    color: #222;
    display: block;
}
.feed-link:hover {
    color: #000;
    text-decoration: none;
}
.feed-link:hover .feed-thumbnail-lg,
.feed-link:hover .feed-thumbnail {
    opacity: 0.75;
}
.vertical-spacing {
    margin-top: 15px;
}
.vertical-spacing-bi {
    margin: 15px 0;
}
.main-footer {
    background: #152952;
    padding: 60px 0 60px;
}
.main-footer .text-muted,
.medical-question .text-muted {
    color: #aaa;
}
.main-footer p,
.main-footer ul {
    text-align: center;
}
.main-footer a {
    color: #fff;
}
.login-form {
    background: #eee;
    border: 1px solid #bbb;
    border-bottom: 4px solid #bbb;
    border-radius: 3px 3px 9px 9px;
    margin: 10px 0;
    padding: 15px;
}
.medical-question {
    background: #234487;
    padding: 30px 0;
    margin: 30px 0 0;
    color: #eee;
}

.step-viewer .sv-li {
    width: 90px;
    height: 120px;
}

.step-viewer .sv-li .sv-num {
    background: #efefef;
    color: #999;
    border: 5px solid #999;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    padding: 7px 0;
    font-size: 38px;
    text-align: center;
}
.step-viewer .sv-li.active .sv-num {
    background: #234487;
    border: 5px solid #152952;
    color: #eee;
}
.step-viewer .sv-li.success .sv-num {
    background: #5cb85c;
    border: 5px solid #449d44;
    color: #eee;
}
.step-viewer .sv-li .sv-label {
    color: #999;
    font-weight: bold;
    text-align: center;
}
.step-viewer .sv-li.active .sv-label {
    color: #234487;
}
.step-viewer .sv-li.success .sv-label {
    color: #449d44;
}

@media(max-width: 768px) {
    .step-viewer .sv-li {
        width: 60px;
        height: 90px;
    }
    .step-viewer .sv-li .sv-num {
        border: 3px solid #999;
        font-size: 28px;
        padding: 2px 0;
    }
}

.calpage,
.calpage .month,
.calpage .date,
.calpage .time,
.calpage .year {
    width: 100%;
    display: inline-block;
    overflow: hidden;
}

.calpage {
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}
.calpage:hover,
.calpage.selected {
    /*border: 1px solid #bbb;*/
    -webkit-box-shadow: 0 0 8px rgba(102, 175, 233, 0.9);
    -moz-box-shadow: 0 0 8px rgba(102, 175, 233, 0.9);
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.9);
}

.calpage .month {
    background: #2775c8;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    padding: 15px 0;
    text-align: center;
}

.calpage .date {
    font-size: 72px;
    text-align: center;
}

.calpage .time {
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 18px;
}

.calpage .year {
    border-top: 1px solid #ddd;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
}

.calpage.selected .cal-selected {
    background: url(../img/tick.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    width: 57px;
    height: 80px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.carousel-inner > .item > img {
    width: 100%;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.25);
    right: 0;
    left: 0;
    bottom: 0;
    padding-bottom: 60px;
}

#quick-links {
    border: 5px solid #2775c8;
}
.quick-link > a {
    display: inline-block;
    text-align: center;
    padding: 8px;
    width: 100%;
    height: 100%;
}
.quick-link > a:hover {
    text-decoration: none;
    opacity: 0.9;
}
.quick-link:nth-child(2n) {
    background: #fff;
}
.quick-link:nth-child(2n+1) {
    background: #2775c8;
}
.quick-link:nth-child(2n) > a {
    background: #2775c8;
    color: #fff;
}
.quick-link:nth-child(2n+1) > a{
    background: #fff;
    color: #2775c8;
}
.quick-link > a > h3 {
    height: 1.25em;
    max-height: 1.25em;
}
.quick-link > a > p {
    height: 2.5em;
    max-height: 2.5em;
}